.header__link {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  margin-left: 24px;
  margin-top: auto;
  padding: 0;  
}

@media (max-width: 425px) {
    .header__link {
        margin-right: 29px;
    }
}