@import url("./__author/footer__author.css");

.footer {
    max-width: 882px;
    margin: 0 auto;
    padding-top: 66px;
    padding-bottom: 60px;
}

@media (max-width: 768px) {
    .footer {
     padding-top: 54px;
     padding-bottom: 48px;
    }
}

@media (max-width: 320px) {
    .footer {
        padding-top: 48px;
        padding-bottom: 36px;
    }
}